.restaurant-item-link {
  text-decoration: none;
}

.restaurant-item-container {
  display: flex;
  align-items: center;
  margin: 10px;
  width: 345px;
}

.restaurant-item-image {
  height: 100px;
  width: 150px;
  border-radius: 8px;
  margin-right: 10px;
  flex-shrink: 0;
}

.restaurant-item-name {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;

  color: #334155;
  margin-bottom: -10px;
}

.restaurant-item-cuisine {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 22px;
  color: #64748b;
  margin-bottom: -10px;
}

.restaurant-item-rating-container {
  display: flex;
  align-items: center;
}

.restaurant-item-rating-star {
  height: 12px;
  width: 12px;

  color: #ffcc00;
  margin-right: 6px;
}

.restaurant-item-rating {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;

  color: #1e293b;
  margin-right: 6px;
}

.restaurant-item-reviews {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;

  color: #64748b;
}
