.login-bg-container {
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  box-shadow: 0px 8px 40px rgba(7, 7, 7, 0.08);
  border-radius: 8px;

  width: 456px;
  height: 523px;

  margin-right: 90px;
  margin-left: 90px;
}

.login-website-container {
  display: flex;
  flex-direction: column;
}

.login-website-desktop-logo {
  display: block;

  width: 53px;
  height: 43px;

  align-self: center;
}

.login-website-name {
  font-family: DM Sans;
  font-style: italic;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;

  color: #f7931e;
}

.login-text {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 40px;

  color: #0f172a;
  margin-bottom: 50px;

  align-self: center;
}

.login-label {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;

  letter-spacing: 0.01em;

  color: #475569;

  align-self: flex-start;
  margin-left: 50px;
}

.login-input {
  height: 40px;
  width: 360px;
  background: #e2e8f0;
  border-radius: 2px;

  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;

  color: #64748b;
  outline: none;
  border: 0;

  padding-left: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.login-custom-button {
  height: 40px;
  width: 360px;
  background: #f7931e;
  border-radius: 8px;

  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;

  color: #ffffff;
  border: 0;
  cursor: pointer;
}

.login-cover-image {
  width: 705px;
  height: 1024px;
  flex-shrink: 0;
}

.login-form-error-msg-text {
  align-self: start;
  font-size: 12px;
  margin-top: 3px;
  margin-bottom: 0px;
  font-family: 'Roboto';
  font-size: 12px;
  line-height: 16px;
  color: #ff0b37;
  margin-left: 50px;
  margin-top: 5px;
}
