.cart-item-food-container {
  list-style-type: none;
  padding-left: 0;

  display: flex;
  justify-content: space-between;
}

.cart-food-item-image-and-name-container {
  display: flex;
  align-items: center;

  width: 280px;
}

.cart-food-item-image {
  height: 100px;
  width: 136px;

  border-radius: 8px;
  margin-right: 8px;

  flex-shrink: 0;
}

.cart-food-item-name {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;

  letter-spacing: 0.2px;

  color: #183b56;
}

.cart-food-item-quantity-container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 280px;
}

.cart-food-quantity-button {
  border: 0.75px solid #475569;
  border-radius: 2.25px;

  height: 18px;
  width: 18px;

  cursor: pointer;
  color: #3e4c59;
  background-color: transparent;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 4px;
}

.cart-food-quantity-text {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  color: #475569;

  margin-left: 10px;
  margin-right: 10px;
}

.food-item-cost-container {
  width: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-item-rupee {
  height: 14px;
  color: #ffa412;
}

.cart-food-item-cost {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;

  color: #ffa412;

  margin-left: -25px;

  display: flex;
  align-items: center;
}
