.pagination-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

.pagination-button {
  height: 32px;
  width: 32px;
  background-color: transparent;
  border: 1px solid #334155;
  cursor: pointer;
}

.pagination-page-numbers {
  font-family: Bree Serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  color: #334155;
  margin-left: 10px;
  margin-right: 10px;
}

.pagination-arrow-icons {
  height: 16px;
  width: 16px;
  color: #334155;
}
