.specific-restaurant-item-card-container {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 450px;
  margin-bottom: 20px;
}

.specific-restaurant-item-image {
  height: 150px;
  width: 255px;
  border-radius: 8px;
  margin-right: 25px;
}

.specific-restaurant-item-name {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #334155;
  margin-top: -8px;
  margin-bottom: -10px;
}

.specific-restaurant-item-cost-and-rupee-container {
  display: flex;
  align-items: center;
}

.specific-restaurant-item-rupee-icon {
  color: #334155;
  height: 14px;
  width: 14px;
  margin-right: 4px;
  margin-bottom: -22px;
}

.specific-restaurant-item-cost {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;

  color: #334155;
  margin-bottom: -10px;
}

.specific-restaurant-item-rating-and-star-container {
  display: flex;
  align-items: center;
}

.specific-restaurant-item-star-icon {
  color: #ffcc00;
  height: 14px;
  width: 14px;
  margin-right: 4px;
}

.specific-restaurant-item-rating {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  color: #0a1f44;
}

.specific-restaurant-item-button {
  height: 32px;
  width: 58px;
  border: 2px solid #ffa412;
  border-radius: 8px;

  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;

  color: #ffa412;
  background-color: transparent;
  cursor: pointer;
}
