.FooterMain {
  background-color: #0f172a;
  width: 100%;
  margin-top: 40px;
  color: #ffffff;
  padding: 50px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.FooterLogoCon {
  display: flex;
  align-items: center;
  font-family: 'DM Sans';
  font-size: 28px;
  font-style: italic;
  font-weight: 400;
}
@media (max-width: 768px) {
  .FooterLogoCon {
    font-size: 15px;
  }
}

.FooterLogo {
  width: 80px;
  margin: 10px;
}
@media (max-width: 768px) {
  .FooterLogo {
    width: 40px;
    margin: 5px;
  }
}
.Motto {
  font-family: 'DM Sans';
  font-weight: 400;
  font-size: 24px;
  text-align: center;
}
@media (max-width: 768px) {
  .Motto {
    font-size: 12px;
    align-content: center;
  }
}

.SocialNetworkIcon {
  font-size: 40px;
  display: flex;
  justify-content: space-between;
  width: 30%;
  margin-top: 30px;
}
@media (max-width: 768px) {
  .SocialNetworkIcon {
    width: 60%;
    font-size: 30px;
  }
}
