.specific-restaurant-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.specific-restaurant-container {
  background-color: #333333;
  height: 344px;
  width: 100vw;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  margin-top: 50px;
}

.specific-restaurant-image {
  height: 280px;
  width: 445px;
  border-radius: 8px;

  margin-left: 126px;
  margin-right: 28px;
  margin-bottom: 5px;
}

.specific-restaurant-card-bg-container {
  height: 250px;
}

.specific-restaurant-name {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.2px;

  color: #ffffff;
}

.specific-restaurant-cuisine {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;

  color: #ffffff;
}

.specific-restaurant-location {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;

  color: #ffffff;
}

.specific-restaurant-rating-and-cost-container {
  display: flex;
  align-items: center;
}

.specific-restaurant-rating-container {
  width: 120px;
  border-right: 1px solid #e2e8f0;
}

.specific-restaurant-rating-and-icon-container {
  display: flex;
  align-items: center;
}

.star-icon-white {
  height: 14px;
  margin-right: 4px;
  color: #ffffff;
}

.specific-restaurant-rating {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;

  color: #ffffff;
}

.specific-restaurant-ratings-count {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;

  color: #e2e8f0;
  margin-top: -10px;
}

.specific-restaurant-cost-for-two-container {
  width: 100px;
  margin-left: 40px;
}

.specific-restaurant-cost-and-icon-container {
  display: flex;
  align-items: center;
}

.rupee-icon-white {
  height: 14px;
  margin-right: 4px;
  color: #ffffff;
}

.specific-restaurant-cost-for-two {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;

  color: #ffffff;
}

.specific-restaurant-cost-for-two-text {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;

  color: #e2e8f0;
  margin-top: -10px;
}

.specific-restaurant-item-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  margin-top: 20px;
  margin-left: 120px;
  margin-right: 120px;
}
